<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room List</title>
</head>
<body>
<h1>Room List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Booked_date</th>
        <th>Expired_date</th>
        <th>Status</th>
    </tr>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.id}"></td>
        <td th:text="${room.name}"></td>
        <td th:text="${room.booked_date}"></td>
        <td th:text="${room.expired_date}"></td>
        <td th:text="${room.status}"></td>
    </tr>
</table>
<a href="/rooms/new">Add New Room</a>
</body>
</html>
